.vs/
bin/
obj/
*.user
*.suo
packages/
*.nupkg
.DS_Store
Thumbs.db
appsettings.Development.json

# ????? ????? ?????? ??? ???????
Sehatak.API/Logs/

# ????? ?????????? ???????? (??? ???????? ???????? ???)
Sehatak.API/wwwroot/uploads/